Sub 新版本贷后一号()



'原版本另存为带宏，这个版本修正了这个问题

   '查询一共有多少行/列
    hs = Worksheets(1).UsedRange.Rows.Count
    ls = Worksheets(1).UsedRange.Columns.Count
    
    '定义三个数字区域，选择，把他们打包
    Dim rng1 As Range, rng2 As Range, rng3 As Range, myMultiAreaRange As Range
    
    Set rng1 = Range("K2:T" & hs)
    Set rng2 = Range("X2:Y" & hs)
    Set rng3 = Range("AN2:AS" & hs)
    Set myMultiAreaRange = Union(rng1, rng2, rng3)
    myMultiAreaRange.Select
    
    '变成常规格式，四舍五入
    Selection.NumberFormatLocal = "G/通用格式"
    rng1 = Application.Round(rng1, 2)
    rng2 = Application.Round(rng2, 2)
    rng3 = Application.Round(rng3, 2)
    
    '把后面的费用复制到后后面去
    Range("AN2:AT" & hs).Cut
    Range("CJ2").Select
    ActiveSheet.Paste
    
    
    '清空格子(因为整行都有格子很难看)
    Rows("1:" & hs).Select
    Selection.Borders(xlDiagonalDown).LineStyle = xlNone
    Selection.Borders(xlDiagonalUp).LineStyle = xlNone
    Selection.Borders(xlEdgeLeft).LineStyle = xlNone
    Selection.Borders(xlEdgeTop).LineStyle = xlNone
    Selection.Borders(xlEdgeBottom).LineStyle = xlNone
    Selection.Borders(xlEdgeRight).LineStyle = xlNone
    Selection.Borders(xlInsideVertical).LineStyle = xlNone
    Selection.Borders(xlInsideHorizontal).LineStyle = xlNone
    
    
    
    '把格子画出来（只画有数据的区域）
    Range("A1:CP" & hs).Select
    Selection.Borders(xlDiagonalDown).LineStyle = xlNone
    Selection.Borders(xlDiagonalUp).LineStyle = xlNone
    With Selection.Borders(xlEdgeLeft)
        .LineStyle = xlContinuous
        .ColorIndex = 0
        .TintAndShade = 0
        .Weight = xlThin
    End With
    With Selection.Borders(xlEdgeTop)
        .LineStyle = xlContinuous
        .ColorIndex = 0
        .TintAndShade = 0
        .Weight = xlThin
    End With
    With Selection.Borders(xlEdgeBottom)
        .LineStyle = xlContinuous
        .ColorIndex = 0
        .TintAndShade = 0
        .Weight = xlThin
    End With
    With Selection.Borders(xlEdgeRight)
        .LineStyle = xlContinuous
        .ColorIndex = 0
        .TintAndShade = 0
        .Weight = xlThin
    End With
    With Selection.Borders(xlInsideVertical)
        .LineStyle = xlContinuous
        .ColorIndex = 0
        .TintAndShade = 0
        .Weight = xlThin
    End With
    With Selection.Borders(xlInsideHorizontal)
        .LineStyle = xlContinuous
        .ColorIndex = 0
        .TintAndShade = 0
        .Weight = xlThin
    End With
    With Selection
        .VerticalAlignment = xlCenter
        .WrapText = False
        .Orientation = 0
        .AddIndent = False
        .IndentLevel = 0
        .ShrinkToFit = False
        .ReadingOrder = xlContext
        .MergeCells = False
    End With
    With Selection
        .HorizontalAlignment = xlGeneral
        .VerticalAlignment = xlCenter
        .WrapText = False
        .Orientation = 0
        .AddIndent = False
        .IndentLevel = 0
        .ShrinkToFit = False
        .ReadingOrder = xlContext
        .MergeCells = False
    End With
    With Selection
        .HorizontalAlignment = xlCenter
        .VerticalAlignment = xlCenter
        .WrapText = False
        .Orientation = 0
        .AddIndent = False
        .IndentLevel = 0
        .ShrinkToFit = False
        .ReadingOrder = xlContext
        .MergeCells = False
    End With
    
    
'产品类先息后本，移交类123期。等额本息12 18 24期
For w = 2 To hs
Set rngx2 = Range("J" & w).Find("等额本息")
Set rngx5 = Range("J" & w).Find("按揭")
If Not rngx2 Is Nothing Then
  If (Range("U" & w).Value = 12 Or Range("U" & w).Value = 18 Or Range("U" & w).Value = 24) = True Then
  Else
  MsgBox ("第" & w & "行产品类型和期数不符")
  End If
  ElseIf Not rngx5 Is Nothing Then
   If (Range("U" & w).Value = 24) = True Then
   Else
   MsgBox ("第" & w & "行产品类型和期数不符")
   End If
     Else
     If (Range("U" & w).Value = 1 Or Range("U" & w).Value = 2 Or Range("U" & w).Value = 3) = True Then
     Else
     MsgBox ("第" & w & "行产品类型和期数不符")
     End If
  End If
Next

'产品费率检查，在0到0.1之间
For i = 2 To hs
date9 = Range("V" & i).Value
date10 = Range("W" & i).Value
If (date9 + date10 > 0 And date9 + date10 < 0.1) = True Then
Else
MsgBox ("第" & i & "行费率有问题")
End If
Next



'检查月还
For i = 2 To hs
Set rngx2 = Range("J" & i).Find("等额本息")

date11 = Range("K" & i).Value
date12 = Range("L" & i).Value
date13 = Range("M" & i).Value
date14 = Range("R" & i).Value
date15 = Range("S" & i).Value
date16 = Range("U" & i).Value
date17 = Range("X" & i).Value

If Not rngx2 Is Nothing Then
    If (date11 / date16 + date12 + date13 + date15 - date17 > -0.01 And date11 / date16 + date12 + date13 + date15 - date17 < 0.01) = True Then
    Else
    MsgBox ("第" & i & "行月还有问题")
    End If
Else
  If date16 = 1 Then
    If (date17 = date11 + date13 + date12) = True Then
    Else
    MsgBox ("第" & i & "行月还有问题")
    End If
  Else
    If (date17 = date12 + date13 + date14) = True Then
    Else
    MsgBox ("第" & i & "行月还有问题")
    End If
  End If
End If
Next


'规范化短日期
Range("AA2:AC" & hs).Select
Selection.NumberFormatLocal = "yyyy/m/d"
    
'检查签约日期  在今天的正负5天
stday = Now()
For i = 2 To hs
If (Range("AA" & i) >= stday - 5 And Range("AA" & i) <= stday + 5) Then
Else
MsgBox (i & "行签约日期错误")
End If
Next i


'核对后面的还款起始日期 如果是一般的，还款起始日=签约日-1天（仅仅看日），如果是14天一期，还款起始日=签约日+14-1  如果是30天一期的，还款起始日=签约日+30天-1，
For i = 2 To hs

DATE1 = Range("AA" & i).Value  '签约日
DATE2 = Application.Text(WorksheetFunction.EDate(DATE1, 1), "yyyy-mm-dd")  '规范化签约日
date3 = Range("AB" & i).Value  '还款起始日

Set rngx6 = Range("J" & i).Find("按揭")

If Not rngx6 Is Nothing Then
  If (DateAdd("d", 13, DATE1) = date3) = True Then
  Else
  MsgBox (i & "行还款起始日期错误")
  End If
Else
  If Range("Z" & i) <> "" Then
    If (DateAdd("d", -1, DATE2) = date3) = True Then
    Else
    MsgBox (i & "行还款起始日期错误")
    End If
  Else
    If (DateAdd("d", 29, DATE1) = date3) = True Then
    Else
    MsgBox (i & "行还款起始日期错误")
    End If
  End If
End If

Next


'核对后面的还款截止日
For i = 2 To hs

'还款起始日
DATE4 = Range("AB" & i).Value
DATE1 = Range("AA" & i).Value
aaa = Range("U" & i) - 1
bbb = Range("U" & i)


'还款截至日
date6 = Range("AC" & i).Value

Set rngx6 = Range("J" & i).Find("按揭")
If Not rngx6 Is Nothing Then
  DATE5 = DATE4 + aaa * 14
  If Format(DATE5, "yyyy-mm-dd") = Format(date6, "yyyy-mm-dd") Then
  Else
  MsgBox (i & "行还款截止日错误")
  End If
Else
  If Range("Z" & i) <> "" Then
    DATE5 = Application.Text(WorksheetFunction.EDate(DATE4, aaa), "yyyy-mm-dd")
    If Format(DATE5, "yyyy-mm-dd") = Format(date6, "yyyy-mm-dd") Then
    Else
    MsgBox (i & "行还款截止日错误")
    End If
  Else
    DATE5 = DATE1 + bbb * 30 - 1
    If Format(DATE5, "yyyy-mm-dd") = Format(date6, "yyyy-mm-dd") Then
    Else
    MsgBox (i & "行还款截止日错误")
    End If
  End If
End If

Next i


'产品类型中如果有展期，删除
For w = 2 To hs
Set rngx = Range("J" & w).Find("展期")
If rngx Is Nothing Then
Else
mypos = InStr(1, rngx, "展期", 1)
zuo = Mid(rngx, mypos - 1, 1)
mypos1 = InStr(1, zuo, "（", 1)
you = Mid(rngx, mypos + 2, 1)
mypos2 = InStr(1, you, ")", 1)
If (mypos1 < 1000 And mypos2 < 1000) = True Then
x = rngx.Row
Range("j" & x) = Mid(rngx, 1, mypos - 2) & Mid(rngx, mypos + 3)
Else
x = rngx.Row
MsgBox ("不同寻常的展期" & x)
End If
End If
Next


'产品类型中有质押类/押车类转化为移交类
For w = 2 To hs
Set rngx2 = Range("J" & w).Find("质押类")
If rngx2 Is Nothing Then
Else
x = rngx2.Row
Range("j" & x) = Replace(rngx2, "质押类", "移交类")
End If

Set rngx3 = Range("J" & w).Find("押车类")
If rngx3 Is Nothing Then
Else
x = rngx3.Row
Range("j" & x) = Replace(rngx3, "押车类", "移交类")
End If
Next


'产品类型中有"-追加"则变为“（追加）”
For w = 2 To hs
Set rngx2 = Range("J" & w).Find("-追加")
If rngx2 Is Nothing Then
Else
x = rngx2.Row
Range("j" & x) = Replace(rngx2, "-追加", "(追加)")
End If
Next

'产品类型中有"-结清再贷"则变为“（结清再贷）”
For w = 2 To hs
Set rngx2 = Range("J" & w).Find("-结清再贷")
If rngx2 Is Nothing Then
Else
x = rngx2.Row
Range("j" & x) = Replace(rngx2, "-结清再贷", "(结清再贷)")
End If
Next

'产品类型中有“-”则提示
For w = 2 To hs
Set rngx4 = Range("J" & w).Find("-")
If rngx4 Is Nothing Then
Else
x = rngx4.Row
MsgBox (x & "行产品类型有问题")
End If
Next

'在进件编号/卡号/身份证这三列加'
For s = 2 To hs
Range("h" & s) = "'" & Range("h" & s)
Range("ae" & s) = "'" & Range("ae" & s)
Range("ag" & s) = "'" & Range("ag" & s)
Next

'填写后面的本息
For u = 2 To hs
xx = Range("u" & u).Value

Set rngx2 = Range("J" & u).Find("按揭")
If rngx2 Is Nothing Then

  For v = 0 To (xx * 2) - 3 Step 2
  Cells(u, 40 + v) = Range("x" & u)
  Next

  j = xx * 2 - 2
  Cells(u, 40 + j) = Range("y" & u)
Else
  For v = 0 To xx - 2
  Cells(u, 40 + v) = Range("x" & u)
  Next

  For j = xx - 1 To xx - 1
  Cells(u, 40 + j) = Range("y" & u)
  Next
  
End If
Next



'替换空格
Cells.Replace What:=" ", Replacement:="", LookAt:=xlPart, SearchOrder:= _
        xlByRows, MatchCase:=False, SearchFormat:=False, ReplaceFormat:=False
        
'把字体改成宋体
Worksheets(1).UsedRange.Select
With Selection.Font
    .Name = "宋体"
    .Strikethrough = False
    .Superscript = False
    .Subscript = False
    .OutlineFont = False
    .Shadow = False
    .Underline = xlUnderlineStyleNone
    .TintAndShade = 0
    .ThemeFont = xlThemeFontNone
End With
        
        
'还款起始日期和后面的表头不一致
For i = 2 To hs
Date7 = Range("AB" & i).Value
Date8 = Range("AN" & 1).Value
If Month(Date7) = Month(Date8) Then
Else
MsgBox (i & "行还款日期表头不一致，需要分开")
End If
Next i

'删除实际费率那一列
Worksheets(1).Range("w:w").Delete

'合同编号为0025开头/状态为非正常/移交类
For u = 2 To hs

Set rngx2 = Range("J" & u).Find("移交")
If rngx2 Is Nothing Then

Else
Range("a" & u).Value = "嘉享德"
 
End If
Next

For u = 2 To hs
Set rngx2 = Range("h" & u).Find("0025")

If rngx2 Is Nothing Then

Else
Range("a" & u).Value = "嘉享德"
 
End If
Next

For u = 2 To hs
Set rngx2 = Range("CO" & u).Find("公车/过户/移交")

If rngx2 Is Nothing Then

Else
Range("a" & u).Value = "嘉享德"
 
End If
Next

'另存到本文件夹中的且重命名
Dim time2
time2 = Date - 1
Worksheets(1).Copy
ActiveWorkbook.SaveAs Filename:=ThisWorkbook.path & "\嘉享德借款明细对接债权" & Format(Date - 1, "yyyy.M.D") & ".xlsx"


'是否发送邮件
   
    n = MsgBox("是否发送邮件？", vbYesNo)
    If n = vbNo Then Exit Sub

'发送邮件
    Dim path As String
    path = ThisWorkbook.path
    Application.ScreenUpdating = False
    Dim OutApp As Object
    Dim OutMail As Object
    Dim Body As String
    Dim fname As String ', fname1 As String, fname2 As String, fname3 As String

    'Set OutApp = CreateObject("Outlook.Application")
    '运行代码弹出OUTLOOK配置界面，配置qq邮箱（在QQ邮箱的设置下开启pop3和imap,生成的授权码当密码填在outlook里，在其他设置里端口根据qq邮箱帮助里填写）
    'Set OutMail = OutApp.CreateItem(0)

    'Body = "HAHA"     '这里设置你的邮件内容
    
    '这里设置要添加附件的文件路径
    fname = path & "\嘉享德借款明细对接债权" & Format(Date - 1, "yyyy.M.D") & ".xlsx"
    
    On Error Resume Next
    With OutMail
        .To = "daihou@huiwang365.com;huanglei@huiwang365.com;ouyangqinglin@huiwang365.com;huakou@huiwang365.com;zhanglulu@huiwang365.com;wangxiaofang@huiwang365.com"                  '收件人
        '.CC = "gaodan@huiwang365.com;15850698010@163.com"               '抄送人-所有接收者都知道哪些人收到此邮件
        '.BCC = "test5@qq.com; test5@qq.com"             '密送人-收件人不知道同时发送给了哪些人
        .Subject = "嘉享德借款明细对接债权" & Format(Date - 1, "yyyy.M.D")                           '这是邮件主题
        '.Body = Body                                    '这是邮件内容
        .Attachments.Add fname                          '添加附件
        
        .Display
        .Send
    End With
    On Error GoTo 0
    
    Set OutMail = Nothing
    Set OutApp = Nothing

Application.ScreenUpdating = True


End Sub
